<!-- Three -->
<section class="wrapper style3 special">
    <div class="inner">
        <header>
            <h2>{{ include_dict.section.title }}</h2>
            {{ include_dict.section.content | markdownify }}
        </header>
        {% if include_dict.section.actions %}
            <footer>
                <ul class="actions special">
                    {% for action in include_dict.section.actions %}
                        <li><a href="{% if action.url | starts_with('#') %}{{ action.url }}{% else %}{{ action.url | link | relative_url }}{% endif %}" {{ classNames("button", "big", {"primary": action.is_primary}, {"scrolly": action.is_scrolly}) }}>{{ action.label }}</a></li>
                    {% endfor %}
                </ul>
            </footer>
        {% endif %}
    </div>
</section>